<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="webdev_adminGrid" frontName="webdev_adminGrid">
            <module name="Webdev_AdminGrid" before="Magento_Backend" />
        </route>
    </router>
</config>
